resources/icons/.DS_Store
resources.py
labelImg.egg-info*

*.pyc
.*.swp

build/
dist/

tags
cscope*
.ycm_extra_conf.py
.subvimrc
.vscode
*.pkl
Pipfile
*.xml

# MacOS System-Generated
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# IDE
*.DS_Store
*.iml
.idea
.unison*
.attach*
tmp.*
