include CONTRIBUTING.rst
include HISTORY.rst
include LICENSE
include README.rst

include resources.qrc

recursive-include data *
recursive-include icons *
recursive-include libs *

recursive-exclude build-tools *
recursive-exclude tests *
recursive-exclude * __pycache__
recursive-exclude * *.py[co]
